 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1062px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 18px 0 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1062px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 1555px;
}

.u-section-2 .u-group-1 {
  min-height: 520px;
  margin-top: 178px;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 95px 30px 30px;
}

.u-section-2 .u-gallery-1 {
  height: 1154px;
  width: 1140px;
  grid-gap: 17px;
  margin: -448px auto 60px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 41px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1349px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-gallery-1 {
    width: 940px;
    height: 948px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 2258px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 90px;
  }

  .u-section-2 .u-gallery-1 {
    width: 720px;
    height: 1659px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 5514px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 85px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-gallery-1 {
    width: 540px;
    height: 5078px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 3578px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 75px;
  }

  .u-section-2 .u-gallery-1 {
    width: 340px;
    height: 3229px;
    margin-top: -559px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 518px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 1.875rem;
  margin: 14px 195px 36px auto;
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1237px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 38px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 663px;
  --radius: 50px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  margin: 23px auto 0 32px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 1px 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 464px;
  --radius: 50px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-text-3 {
  width: 281px;
  font-size: 1.875rem;
  margin: 32px auto 0;
}

.u-section-4 .u-text-4 {
  width: 281px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 488px;
  --radius: 50px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-text-5 {
  width: 281px;
  font-size: 1.875rem;
  margin: 32px auto 0;
}

.u-section-4 .u-text-6 {
  width: 281px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 564px;
  --radius: 50px;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-text-7 {
  width: 281px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-8 {
  margin: 20px 13px 0 43px;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 564px;
  --radius: 50px;
}

.u-section-4 .u-container-layout-5 {
  padding: 0;
}

.u-section-4 .u-text-9 {
  margin: 20px 48px 0 38px;
}

.u-section-4 .u-text-10 {
  margin-left: 38px;
  margin-right: 48px;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  width: 306px;
  height: 258px;
  margin: 30px 23px 0 38px;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 488px;
  --radius: 50px;
}

.u-section-4 .u-container-layout-6 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  height: 266px;
  margin-top: 158px;
  margin-bottom: 0;
  --radius: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1065px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 547px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 383px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 402px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 465px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-8 {
    width: 281px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 465px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-10 {
    margin-left: 5px;
    margin-right: 14px;
  }

  .u-section-4 .u-image-1 {
    width: 300px;
    height: 253px;
    margin-right: 0;
    margin-left: 5px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 442px;
  }

  .u-section-4 .u-image-2 {
    height: 219px;
    margin-top: 156px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 461px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-3 {
    width: 227px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    width: 227px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-text-5 {
    width: 227px;
  }

  .u-section-4 .u-text-6 {
    width: 227px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-text-7 {
    width: 227px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    width: 227px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    width: 227px;
    height: 191px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 308px;
  }

  .u-section-4 .u-image-2 {
    height: 168px;
    margin-top: 200px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 661px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-7 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 693px;
  }

  .u-section-4 .u-image-2 {
    height: 378px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-cell-6 {
    min-height: 436px;
  }

  .u-section-4 .u-image-2 {
    height: 238px;
  }
}